{{define "title"}}允退期設定檔{{end}}
{{define "main"}}
  <section id="section1">
    <h2>Section 1</h2>
    <p class="highlight"> this is a content of section 1.</p>
  </section>
  <section id="section2">
    <h2>Section 2</h2>
    <p class="highlight">This is the section 2.</p>
  </section>
  <ul class="s2after">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>

  <aside>
    <h3>Related Links</h3>
    <ul>
      <li><a href="#section1">Read More</a></li>
      <li><a href="#section2">Other section 2</a></li>
    </ul>
  </aside>

  <div class="container">
    <div class="row">
      <div class="input-group col-lg-6">
        <input type="text" class="form-control" placeholder="Book's name" aria-label="Book's name" aria-describedby="basic-addon2">
          <button class="btn btn-outline-primary" type="button">Search</button>
        </div>
      </div>
    </div>
  </div>

{{end}}
