{{define "title"}}分倉數量ERP系統{{end}}
{{define "head_Import"}}{{end}}
{{define "main"}}
  <div id="something"></div>
{{end}}
{{define "inputJS"}}
<!--
  <script src="/static/js/stocktaking.js"></script>
-->
<script src="/static/js/currStockView2.js?v={{.Timestamp}}"></script> 
{{end}}

