{{define "title"}}對帳單列印{{end}}
{{define "head_Import"}}
  <link rel="stylesheet" href="/static/css/getAcc.css">
{{end}}
{{define "main"}}
<div id="progressContainer">
  <div id="progressBar"></div>
</div>
{{end}}
{{define "inputJS"}}
  <script src="/static/js/getAcc.js?v={{.Timestamp}}"></script> 
{{end}}

