{{define "title"}}product{{end}}
{{define "main"}}
  <article>
    <h3>肉雞料</h3>
    <p>產品項目：白肉雞、有色雞、放山雞</p>
    <p>產品特色：</p>
    <p>1.提供各階段肉雞足夠熱能、蛋白質，在屠體品質、羽毛發育達到均衡表現。</p>
    <p>2. 生產穩定品質粒狀料，達到足夠採食量及好的飼料效率，以降低飼養成本。</p>
    <p>3. 添加益生菌及酵素，改善雞隻腸道健康及墊料清潔，改善氣味及方便清理。</p>
  </article>
  <article>
    <h3>蛋種雞料</h3>
    <p>產品項目：白肉雞、有色雞、放山雞</p>
    <p>產品特色：</p>
    <p>1.提供各階段肉雞足夠熱能、蛋白質，在屠體品質、羽毛發育達到均衡表現。</p>
    <p>2. 生產穩定品質粒狀料，達到足夠採食量及好的飼料效率，以降低飼養成本。</p>
    <p>3. 添加益生菌及酵素，改善雞隻腸道健康及墊料清潔，改善氣味及方便清理。</p>
  </article>
  <div id="music-sample">
    <video controls loop muted poster="/static/img/chicken.webp">
      <source src="/static/img/pomeMV.mp4" type="audio/mp4">
      <source src="/static/img/pomeMV.mp4" type="audio/ogg">
      <p>Your browser does not support the video element.</p>
    </video>
  </div>
{{end}}
