{{define "title"}}ERP系統_存貨明細表{{end}}
{{define "head_Import"}}{{end}}
{{define "main"}}
  <div id="something"></div>  
  <div id="myMain2"></div> 
{{end}}
{{define "inputJS"}}
<!--
  <script src="/static/js/stocktaking.js"></script>
-->
<script src="/static/js/receipt.js?v={{.Timestamp}}"></script> 
{{end}}

