{{define "title"}}庫齡報表ERP系統{{end}}
{{define "head_Import"}}{{end}}
{{define "main"}}
  
<div id="tableContainer" style="height: 500px; overflow-y: auto; border: 1px solid #ddd;">
    <table id="stockTable">
        <thead>
            <tr>
                <th>品號</th>
                <th>倉庫</th>
                <th>單據</th>
                <th>批號</th>
                <th>效期</th>
                <th>儲位</th>
                <th>累計順序</th>
                <th>數量</th>
                <th>原入庫日</th>
                <th>庫齡天數</th>
            </tr>
        </thead>
        <tbody>
            <!-- 這裡會動態渲染數據 -->
        </tbody>
    </table>
</div>

{{end}}
{{define "inputJS"}}
<!--
  <script src="/static/js/stocktaking.js"></script>
-->
<script src="/static/js/stockAge.js?v={{.Timestamp}}"></script> 
{{end}}

