{{define "title"}}盤點進入ERP系統{{end}}
{{define "head_Import"}}{{end}}
{{define "main"}}
  <div id="something"></div>
{{end}}
{{define "inputJS"}}
<!--
  <script src="/static/js/stocktaking.js"></script>
-->
<script src="/static/js/stocktaking_RWD.js"></script> 
{{end}}

